@import '../../styles/_mixins.scss';

.Footer {
  border-top: 1px solid #ddd;
}

.FooterLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: inline-block;
  text-align: right;
  width: 100%;

  @include mobile-only {
    text-align: left;
  }  

  li {
    display: inline-block;
    margin-left: 2rem;

    &:first-child {
      margin-left: 0;
    }
  }
}

.Brand {
  display: block;
  margin: 0 auto;
  color: white;

  @include mobile-only {
    margin: 0;
  }
}
