@import 'foundation';
@import '../Header/Header.module.scss';

.LinkHeader {
  @extend .Header;

  display: flex;
  align-items: center;
  width: 100%;
}

.Link {
  @extend .Header;
  margin-right: 0.5em;
}

.LinkHeader-Light {
  .Link {
    color: color(light, text-bold);
    border-bottom-color: transparent;
  }

  &:hover .Link {
    color: color(light, primary);
  }
}

.LinkHeader-Dark {
  .Link {
    color: color(dark, text-bold);
    border-bottom-color: transparent;
  }

  &:hover .Link {
    color: color(dark, primary);
  }
}

.Icon {
  line-height: 0;

  svg {
    position: relative;
    top: 1px;

    transition: all 0.1s ease-in-out;
    width: 1.05em;
    height: 1.05em;
    max-height: none;
    max-width: none;
    padding: 0.275em;

    .Headline & {
      height: 0.85em;
      width: 0.85em;
    }
  }
}

.LinkHeader-Light .Icon svg {
  background: color(light, text-bold);
  path {
    fill: color(light, body-bg);
  }
}

.LinkHeader-Dark .Icon svg {
  background: color(dark, text-bold);
  path {
    fill: color(dark, body-bg);
  }
}

.LinkHeader:hover {
  .Icon svg {
    transform: rotate(45deg);
  }
}
