@import 'foundation';
@import '../Header/Header.module.scss';

.LinkHeader {
  @extend .Header;

  display: flex;
  align-items: center;
  width: 100%;
}

.Link {
  @extend .Header;
  margin-right: 0.5em;
}

.Icon {
  line-height: 0;

  svg {
    position: relative;
    top: 1px;

    transition: all 0.1s ease-in-out;
    width: 1.05em;
    height: 1.05em;
    max-height: none;
    max-width: none;
    padding: 0.275em;

    .Headline & {
      height: 0.85em;
      width: 0.85em;
    }
  }
}

.LinkHeader:hover {
  .Icon svg {
    transform: rotate(45deg);
  }
}

@mixin LinkHeader($theme) {
  .LinkHeader-#{$theme} {
    .Link {
      color: color($theme, text-bold);
      border-bottom-color: transparent;
    }

    &:hover .Link {
      color: color($theme, primary);
    }

    .Icon svg {
      background: color($theme, text-bold);
      path {
        fill: color($theme, body-bg);
      }
    }
  }
}

@include LinkHeader(Light);
@include LinkHeader(Dark);
