@import 'foundation';

.EmailListForm {
  .SubscribeCallout {
    display: flex;
    flex-direction: column;
  }

  .DataEntry {
    position: relative;

    $signup-complete-animation-speed: 0.7s;

    &.SignupComplete .SignupFields {
      animation: hide-form-fields $signup-complete-animation-speed ease-in-out;
      opacity: 0;
      z-index: -1;
    }

    .SignupCompletionMessage {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 2rem;

      opacity: 0;
      z-index: -1;
    }

    &.SignupComplete .SignupCompletionMessage {
      animation: show-completion-message $signup-complete-animation-speed
        ease-in-out;
      z-index: 1;
      opacity: 1;
    }
  }

  label {
    font-weight: bold;
  }

  input {
    width: 100%;
    border: 1px solid;
    transition: all 0.1s linear;

    &:focus {
      outline: none;
    }
  }

  button,
  input {
    padding: 0.75rem 1rem;
  }

  button {
    display: inline-block;

    border: none;
    background-image: none;

    letter-spacing: 1px;
    transition: all 0.1s linear;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

@keyframes hide-form-fields {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes show-completion-message {
  0% {
    opacity: 0;
    z-index: -1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@mixin EmailListForm($theme) {
  .EmailListForm-#{$theme} {
    background: color($theme, caption-bg);
    color: color($theme, text);

    input {
      background: color($theme, body-bg);
      color: color($theme, text);
      border-color: color($theme, text-muted);

      &:focus {
        border-color: color($theme, text);
      }

      &.Error {
        color: color($theme, primary-text);
        border-color: color($theme, primary-text);
      }
    }

    button {
      background-color: color($theme, primary);
      color: white;

      &:hover {
        background-color: color($theme, primary-focus);
      }

      &:disabled {
        background-color: color($theme, text-muted);
      }
    }
  }
}

@include EmailListForm(Light);
@include EmailListForm(Dark);
