@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.EmailListForm {
  background: #f5f5f5;
  color: $text-color-primary;

  .SubscribeCallout {
    display: flex;
    flex-direction: column;
  }

  .DataEntry {
    background: #e1e1e1;
    position: relative;

    $signup-complete-animation-speed: 0.7s;

    &.SignupComplete .SignupFields {
      animation: hide-form-fields $signup-complete-animation-speed ease-in-out;
      opacity: 0;
      z-index: -1;
    }

    .SignupCompletionMessage {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 2rem;

      opacity: 0;
      z-index: -1;
    }

    &.SignupComplete .SignupCompletionMessage {
      animation: show-completion-message $signup-complete-animation-speed
        ease-in-out;
      z-index: 1;
      opacity: 1;
    }
  }

  label {
    font-weight: bold;
  }

  input {
    color: $text-color-primary;
    width: 100%;
    border: 1px solid white;
    transition: all 0.1s linear;

    &:focus {
      outline: none;
      border-color: $text-color-primary;
    }

    &.Error {
      color: red;
    }
  }

  button,
  input {
    padding: 0.75rem 1rem;
  }

  button {
    display: inline-block;

    border: none;
    background-image: none;
    background-color: $brand-primary;
    color: white;

    letter-spacing: 1px;
    transition: all 0.1s linear;

    &:hover {
      cursor: pointer;
      background-color: darken($brand-primary, 15%);
    }

    &:disabled {
      background-color: $text-color-secondary;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

@keyframes hide-form-fields {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes show-completion-message {
  0% {
    opacity: 0;
    z-index: -1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
