@import 'foundation';

.Icon svg {
  max-width: 1.75rem;
  max-height: 1.75rem;
  height: auto;
  width: auto;
}

@mixin Icon($theme) {
  .Icon-#{$theme} svg {
    path {
      fill: color($theme, text);
    }

    a & {
      path {
        fill: color($theme, primary-text);
      }
    }
  }
}

@include Icon(Light);
@include Icon(Dark);
