@import 'foundation';

.Icon svg {
  max-width: 1.75rem;
  max-height: 1.75rem;
  height: auto;
  width: auto;

  path {
    fill: $text-color-primary;
  }

  a & {
    path {
      fill: $brand-primary;
    }
  }
}
