@import './Icon.mixins.scss';

.Icon {
  height: auto;
  width: auto;

  &-large {
    &,
    svg {
      max-height: 25px;
      max-width: 25px;
    }
  }

  &-normal {
    &,
    svg {
      max-height: 17px;
      max-width: 17px;
    }
  }

  &-small {
    &,
    svg {
      max-height: 14px;
      max-width: 14px;
    }
  }
}

@include Icon(Light);
@include Icon(Dark);
