@import 'foundation';

$grid-gutter-size: 1rem;

.ProjectTemplate {
  img {
    max-width: 100%;
    border: 1px solid;
  }
}

.Item {
  box-sizing: border-box;
  width: (100% / 2);
  float: left;
  padding-left: 15px;
}

.Grid {
  display: flex;
  margin-left: -$grid-gutter-size;
  width: auto;
}

.Column {
  padding-left: $grid-gutter-size;
  background-clip: padding-box;
}

/* change div to reference your elements you put in <Masonry> */
.Column > div {
  margin-bottom: $grid-gutter-size;
}

.ProjectTemplate {
  a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
}

@mixin ProjectTemplate($theme) {
  .ProjectTemplate-#{$theme} {
    img {
      border-color: color($theme, img-border);
    }

    a {
      color: color($theme, primary-text);

      &:hover {
        border-color: color($theme, primary-text);
      }
    }
  }
}

@include ProjectTemplate(Light);
@include ProjectTemplate(Dark);
