@import 'foundation';

$grid-gutter-size: 1rem;

.ProjectTemplate {
  img {
    max-width: 100%;
    border: 1px solid #2a2a2a;
  }
}

.Item {
  box-sizing: border-box;
  width: (100% / 2);
  float: left;
  padding-left: 15px;
}

.Grid {
  display: flex;
  margin-left: -$grid-gutter-size;
  width: auto;
}

.Column {
  padding-left: $grid-gutter-size;
  background-clip: padding-box;
}

/* change div to reference your elements you put in <Masonry> */
.Column > div {
  margin-bottom: $grid-gutter-size;
}

.ProjectTemplate {
  a {
    color: $brand-primary;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      border-color: #dd0505;
    }
  }

  .Description {
    box-sizing: border-box;
    margin-bottom: $grid-gutter-size * 2;
    margin-right: $grid-gutter-size;

    @include left-border();

    p:last-child {
      margin-bottom: 0;
    }
  }

  .DescriptionHtml {
    margin-bottom: 1rem;
  }
}
