@import 'foundation';

$grid-gutter-size: 1rem;

.ProjectTemplate {
  img {
    max-width: 100%;
    border: 1px solid;
  }
}

.Item {
  box-sizing: border-box;
  width: (100% / 2);
  float: left;
  padding-left: 15px;
}

.Grid {
  display: flex;
  margin-left: -$grid-gutter-size;
  width: auto;
}

.Column {
  padding-left: $grid-gutter-size;
  background-clip: padding-box;
}

/* change div to reference your elements you put in <Masonry> */
.Column > div {
  margin-bottom: $grid-gutter-size;
}

.ProjectTemplate {
  a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  .Description {
    box-sizing: border-box;
    margin-bottom: $grid-gutter-size * 2;
    margin-right: $grid-gutter-size;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .DescriptionHtml {
    margin-bottom: 1rem;
  }
}

.ProjectTemplate-Light {
  img {
    border-color: color(light, img-border);
  }

  a {
    color: color(light, primary-text);

    &:hover {
      border-color: color(light, primary-text);
    }
  }

  .Description {
    @include left-border(color(light, primary));
  }
}

.ProjectTemplate-Dark {
  img {
    border-color: color(dark, img-border);
  }

  a {
    color: color(dark, primary-text);

    &:hover {
      border-color: color(dark, primary-text);
    }
  }

  .Description {
    @include left-border(color(dark, primary));
  }
}
