@import 'foundation';
@import 'ui-kit-mixins';

.FeaturedPostItem {
  position: relative;
  padding: space(big);

  @include on-small-screens {
    padding: $container-base-padding;
  }
}

.Icon {
  position: absolute;
  bottom: space(big);
  right: space(big);

  @include on-small-screens {
    bottom: $container-base-padding;
    right: $container-base-padding;
  }
}

@mixin FeaturedPostItem($theme) {
  .FeaturedPostItem-#{$theme} {
    background-color: color($theme, caption-bg);

    .Icon {
      @include IconColor($theme, primary);
    }
  }
}

@include FeaturedPostItem(Light);
@include FeaturedPostItem(Dark);
