@import 'foundation';
@import '../Icon/Icon.mixins.scss';

.FeaturedItem {
  position: relative;
}

.Icon {
  position: absolute;
  bottom: space(big);
  right: space(big);
}

@mixin FeaturedItem($theme) {
  .FeaturedItem-#{$theme} {
    background-color: color($theme, caption-bg);
    padding: space(big);

    .Icon {
      @include IconColor($theme, primary);
    }
  }
}

@include FeaturedItem(Light);
@include FeaturedItem(Dark);
