@import '../UI-Kit/Header/Header.module.scss';
@import './postTemplate.scss';

.blog-post-template {
  @extend .post-template;

  h1 {
    line-height: 1;
  }

  h2 {
    line-height: 1.2;
  }

  .meta {
    color: lighten($text-color-secondary, 20%);
  }
}
