@import 'foundation';

.FormContainer {
  box-sizing: border-box;
  padding: space(large) 0;

  @include on-small-screens {
    padding: space(medium) 0;
  }
}

@mixin FormContainer-theme($theme) {
  .FormContainer-#{$theme} {
    background: color($theme, caption-bg);
  }
}

@include FormContainer-theme(Light);
@include FormContainer-theme(Dark);
