@import 'foundation';

.FormContainer {
  padding: space(large) 0;

  // TODO: 🔥 these lines when proper layout is setup
  max-width: 560px;
  padding: space(large) space(medium);
  margin-left: -15px;
  margin-right: -15px;
}

@mixin FormContainer-theme($theme) {
  .FormContainer-#{$theme} {
    background: color($theme, caption-bg);
  }
}

@include FormContainer-theme(Light);
@include FormContainer-theme(Dark);
