@import 'foundation';

.Container {
  max-width: $container-size;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $container-size + ($base-font-size * 2)) {
    padding-left: $base-font-size + 10px;
    padding-right: $base-font-size + 10px;
  }
}
