@import 'foundation';

.Tile {
  width: 100%;

  position: relative;
  padding-left: 2rem;
  box-sizing: border-box;

  p {
    font-size: 1.25rem;
  }
}

.Img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  flex: 1 0 auto;
  position: relative;

  min-height: 100%;
  width: 20%;
  min-width: 10rem;

  @include mobile-only {
    display: none;
  }
}

.Title {
  font-size: 2.25rem;
}

.Link {
  margin-top: auto;
  align-self: flex-start;
  font-size: 1.15rem;
}

.Tile-Light {
  @include left-border(color(light, primary));

  p {
    color: color(light, text-muted);
  }
}

.Tile-Dark {
  @include left-border(color(dark, primary));

  p {
    color: color(dark, text-muted);
  }
}
