@import 'foundation';

.Button {
  display: inline-block;
  padding: 1rem 1.5rem;
  background: $brand-primary;

  text-transform: uppercase;
  letter-spacing: 1px;

  &,
  > a {
    color: white;
  }

  transition: all 0.2s linear;

  &:hover {
    background: darken($brand-primary, 15%);
  }
}

.Button-Light {
  background: color(light, primary);

  &:hover {
    background: darken(color(light, primary), 15%);
  }
}

.Button-Dark {
  background: color(dark, primary);

  &:hover {
    background: darken(color(dark, primary), 15%);
  }
}
