@import 'foundation';

.Button {
  display: inline-block;
  padding: 1rem 1.5rem;
  background: $brand-primary;

  text-transform: uppercase;
  letter-spacing: 1px;

  &,
  > a {
    color: white;
  }

  transition: all 0.2s linear;
}

.Button-Light {
  background: color(light, primary);

  &:hover {
    background: color(light, primary-focus);
  }
}

.Button-Dark {
  background: color(dark, primary);

  &:hover {
    background: color(dark, primary-focus);
  }
}
