@import 'foundation';

.Footer {
  p {
    font-style: italic;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 100%;

    li {
      margin-left: space(medium);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include on-small-screens {
    ul {
      flex-direction: column;

      li {
        margin-left: 0;
        margin-bottom: space(tiny);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
