@import 'foundation';

.Navbar {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 6.1rem;
  overflow: hidden;

  transition: all 0.2s ease-in-out;

  &.Open {
    height: 100%;
    position: fixed;
    z-index: 10;
  }
}

.ThemeToggle {
  background: none;
  padding: 0;
  border: none;
  margin-left: 2rem;

  &:focus,
  &:hover {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  .ThemeToggleIcon {
    position: relative;
    top: 2px;
    display: block;
    width: 1.25rem;
  }
  @include mobile-only {
    margin-left: 1rem;

    .ThemeToggleIcon {
      top: 4px;
      width: 1.5rem;
    }
  }
}

.TopElementsWrapper {
  display: flex;
  width: 100%;
}

.Offset {
  width: 100%;
  height: 6rem;
}

.Brand {
  transition: none;
}

.Links {
  display: flex;
  align-items: center;

  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;

  li {
    margin-left: 1.5rem;

    &:first-child {
      margin-left: 0;
    }

    a {
      text-decoration: none;
    }
  }
}

.Toggle {
  height: 4rem;
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 1.5rem 0px;

  .Bar {
    height: 2px;
    width: 1.8rem;

    &:last-child {
      margin-top: 1rem;
    }

    transition: transform 0.2s;
  }

  .Open & {
    .Bar {
      &:first-child {
        transform: translate(0, 9px) rotate(45deg);
      }

      &:last-child {
        transform: translate(0, -9px) rotate(-45deg);
      }
    }
  }
}

.MobileLinks {
  display: block;
  list-style: none;
  padding: 0;
  margin: 3rem 0 0;

  li {
    margin-top: 1rem;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}

.Navbar-Light {
  &.Open {
    background: color(light, body-bg);
  }

  .ThemeToggle {
    svg path {
      fill: color(light, primary);
    }

    &:focus,
    &:hover {
      svg path {
        fill: color(light, text);
      }
    }
  }

  .Brand:hover {
    background: color(light, primary-focus);
  }

  .Toggle .Bar {
    background: color(dark, body-bg);
  }

  .MobileLinks a {
    color: color(light, text);
  }
}

.Navbar-Dark {
  &.Open {
    background: color(dark, body-bg);
  }

  .ThemeToggle {
    svg path {
      fill: color(dark, primary);
    }

    &:focus,
    &:hover {
      svg path {
        fill: color(dark, text);
      }
    }
  }

  .Brand:hover {
    background: color(dark, primary-focus);
  }

  .Toggle .Bar {
    background: color(light, body-bg);
  }

  .MobileLinks a {
    color: color(dark, text);
  }
}
