@import 'foundation';

.Navbar {
  display: flex;
  padding: space(small) 0;
  width: 100%;

  transition: all 0.2s ease-in-out;
}

.Links {
  display: flex;
  align-items: center;

  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;

  li {
    margin-left: space(small);

    &:first-child {
      margin-left: 0;
    }
  }
}

.ToggleThemeButton {
  margin-left: space(small);
}

@mixin Navbar($theme) {
  .Navbar-#{$theme} {
    .Brand:hover {
      background: color($theme, primary-focus);
    }
  }
}

@include Navbar(Light);
@include Navbar(Dark);
