@import './_variables.scss';
@import '../../node_modules/bootstrap-4-grid/scss/grid/_functions.scss';
@import '../../node_modules/bootstrap-4-grid/scss/grid/_variables.scss';
@import '../../node_modules/bootstrap-4-grid/scss/breakpoints/mixins/_breakpoints.scss';

@mixin mobile-only {
  @include media-breakpoint-down(sm) {
    @content;
  }
}

@mixin left-border() {
  padding-left: 2rem;
  position: relative;

  &:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    background: $brand-primary;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
