@include supports-variable-fonts {
  @font-face {
    font-family: $variable-font-face;
    src: url('../fonts/Inter-Variable-subset.woff2') format('woff2');
    font-weight: 1 999;
    font-style: oblique 0deg 10deg;
    font-display: swap;
  }
}

@font-face {
  font-family: $static-font-face;
  src: url('../fonts/Inter-BlackItalic-subset.woff2') format('woff2'),
    url('../fonts/Inter-BlackItalic-subset.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $static-font-face;
  src: url('../fonts/Inter-Black-Only-Right-Arrow-subset.woff2') format('woff2'),
    url('../fonts/Inter-Black-Only-Right-Arrow-subset.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $static-font-face;
  src: url('../fonts/Inter-Regular-subset.woff2') format('woff2'),
    url('../fonts/Inter-Regular-subset.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $static-font-face;
  src: url('../fonts/Inter-Bold-subset.woff2') format('woff2'),
    url('../fonts/Inter-Bold-subset.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $static-font-face;
  src: url('../fonts/Inter-Italic-subset.woff2') format('woff2'),
    url('../fonts/Inter-Italic-subset.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html {
  font-family: $static-font-stack;

  @include supports-variable-fonts {
    font-family: $variable-font-stack;
  }

  @include font-style-normal;
}

body,
html {
  font-size: $base-font-size;
  line-height: 1.666667;

  @include on-small-screens {
    font-size: $small-screens-font-size;
  }
}

em,
i {
  @include font-style-italic;
}

b,
strong {
  @include font-style-bold;
}
