@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography';
@import './syntaxHighlighting';

@supports (font-variation-settings: normal) {
  @import '~@fontsource/inter/variable-full.css';
}

@import '~@fontsource/fira-mono/400.css';
@import '~@fontsource/fira-mono/700.css';

@import '~@fontsource/source-serif-pro/400.css';
@import '~@fontsource/source-serif-pro/400-italic.css';
@import '~@fontsource/source-serif-pro/700.css';
@import '~@fontsource/source-serif-pro/700-italic.css';

@layer components {
  .Breakout {
    @apply -mx-container-base;
    @apply desktop:mx-0;
    @apply expanded:-mx-breakout;
  }
}

html {
  @screen base {
    font-size: 16px;
  }

  @screen collapsed {
    font-size: 18px;
  }
}

body {
  @apply font-sans;
  @apply transition-colors;

  @media (prefers-color-scheme: light) {
    background-color: theme('colors.body-bg');
  }

  @media (prefers-color-scheme: dark) {
    background-color: theme('colors.body-bg-dark');
  }
}

div::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  @apply bg-caption-bg dark:bg-caption-bg-dark;
  @apply rounded-md;
}

div::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
  @apply bg-caption-bg dark:bg-caption-bg-dark;
  @apply rounded-md;
}

div::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  @apply rounded-lg outline-none m-[1px];
  @apply bg-[#d0d0d0] dark:bg-[#555];
}

div::-webkit-scrollbar-track:vertical,
pre::-webkit-scrollbar-track:vertical,
div::-webkit-scrollbar-track:horizontal,
pre::-webkit-scrollbar-track:horizontal {
  @apply rounded-md;
}

div::-webkit-scrollbar-corner,
pre::-webkit-scrollbar-corner {
  @apply bg-caption-bg dark:bg-caption-bg-dark;
  @apply rounded-md;
}

body.light {
  color: theme('colors.text');
  background-color: theme('colors.body-bg');
}

body.dark {
  color: theme('colors.text-dark');
  background-color: theme('colors.body-bg-dark');
}

a {
  @apply underline;
  @apply transition duration-100;

  //// Normal
  // text color
  @apply text-primary-text dark:text-primary-text-dark;
  @apply hover:text-primary-text-focus hover:dark:text-primary-text-focus-dark;
  @apply focus:text-primary-text-focus focus:dark:text-primary-text-focus;

  // icon fill color
  @apply fill-primary-text dark:fill-primary-text-dark;
  @apply hover:fill-primary-text-focus hover:dark:fill-primary-text-focus-dark;
  @apply focus:fill-primary-text-focus focus:dark:fill-primary-text-focus;
}

a.muted {
  // text color
  @apply text-text-muted dark:text-text-muted-dark;
  @apply hover:text-text hover:dark:text-text-dark;
  @apply focus:text-text focus:dark:text-text;

  // icon fill color
  @apply fill-text-muted dark:fill-text-muted-dark;
  @apply hover:fill-text hover:dark:fill-text-dark;
  @apply focus:fill-text focus:dark:fill-text;
}

h1 {
  @apply h1;
}

h1.featured {
  @apply h1-featured;
}

h2 {
  @apply h2;
}

h3 {
  @apply h3;
}

h4 {
  @apply h4;
}

h5 {
  @apply font-bold;
  @apply italic;
  @apply text-text-bold dark:text-text-bold-dark;
}

blockquote {
  @apply Breakout;

  @apply text-[1.44rem] desktop:text-[1.6rem];
  @apply -tracking-[0.5px];
  @apply font-black italic;

  @apply -tracking-[0.5px] font-black italic;

  @apply pt-normal pr-normal pb-normal pl-big;
  @apply desktop:pt-big desktop:pr-big desktop:pb-big desktop:pl-large;

  @apply relative leading-[1.5];

  @apply text-text-bold dark:text-text-bold-dark;
  @apply bg-caption-bg dark:bg-caption-bg-dark;

  > * {
    @apply p-0 m-0;
  }

  &::before {
    content: '';

    @apply h-[10px] w-[14px];

    @apply bg-quote dark:bg-quote-dark;
    @apply bg-center bg-no-repeat;

    @apply text-primary mr-little;

    @apply absolute;

    @apply top-[1.9rem] left-[1.1rem];
    @apply desktop:top-[3.3rem] desktop:left-[2.3rem];
  }
}

.body-styles {
  img {
    @apply bg-caption-bg dark:bg-caption-bg-dark;
  }

  h2 {
    @apply mt-large mb-small;
  }

  h3 {
    @apply mt-big mb-small;
  }

  p {
    @apply my-small;
  }

  img {
    margin-top: theme('space.little');
    margin-bottom: theme('space.little');

    /* 0px */
    @screen base {
      width: calc(100% + 50px);
    }

    /* ~560px */
    @screen collapsed {
      width: 100%;
    }

    /* ~640px */
    @screen expanded {
      width: theme('screens.expanded');
    }
  }

  ul,
  ol {
    margin-left: 0;
    padding-left: 0;

    counter-reset: list-counter;

    list-style-type: none;

    li {
      position: relative;
      padding-left: theme('space.medium');
      margin-bottom: theme('space.little');

      counter-increment: list-counter;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: counter(list-counter) '.';
        position: absolute;
        left: 0;
        top: 0;

        @apply uppercase font-black italic;
      }
    }
  }

  ul li {
    &:before {
      content: '→';
      font-style: normal;
    }
  }

  > img {
    max-width: none;
  }

  .gatsby-resp-image-wrapper,
  > img {
    // These are the styles for @Breakout
    // I had to inline them here because @Breakout #{!important} didn't work
    // and these conflict with some default gatsby styling that I can't
    // seem to remove

    @apply -mx-container-base #{!important};
    @apply desktop:mx-0 #{!important};
    @apply expanded:-mx-breakout #{!important};

    @apply my-medium;
  }

  &.projects {
    .gatsby-resp-image-wrapper {
      // These are the styles for @Breakout
      // I had to inline them here because @Breakout #{!important} didn't work
      // and these conflict with some default gatsby styling that I can't
      // seem to remove

      @apply -mx-container-base #{!important};
      @apply desktop:mx-0 #{!important};
      @apply expanded:-mx-breakout #{!important};

      @apply border border-img-border dark:border-img-border-dark;
    }

    span:first-of-type {
      @apply mt-huge block;
    }

    span + span {
      @apply mt-medium block;
    }

    span span.gatsby-resp-image-wrapper,
    span.gatsby-resp-image-wrapper,
    span.gatsby-resp-image-background-image {
      @apply mt-0;
    }
  }
}
