/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

@import '~@fontsource/jetbrains-mono/400.css';
@import '~@fontsource/jetbrains-mono/400-italic.css';
@import '~@fontsource/jetbrains-mono/700.css';

code[class*='language-'],
pre[class*='language-'] {
  @apply font-mono;

  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.95em;
  line-height: 1.2em;

  @apply rounded-md;

  tab-size: 4;
  hyphens: none;

  white-space: pre-wrap;

  @screen md {
    white-space: pre;
  }
}

pre[class*='language-'] {
  max-height: 600px;
  overflow: auto;
}

code[class*='language-'],
pre[class*='language-'],
pre[class*='language-'] > code[class*='language'] {
  @apply text-[#3b3b3b] dark:text-[#f0f0f0];

  @apply bg-caption-bg dark:bg-caption-bg-dark;
  @apply border border-caption-border dark:border-caption-border-dark;

  &::selection,
  & ::selection {
    @apply bg-[#d8d8d8] dark:bg-[#888888];
  }
}

pre[class*='language-'],
pre[class*='language-'] > code[class*='language'] {
  & > code[class*='language-'] {
    background-color: transparent;
    border-color: transparent;
  }
}

/* Code blocks */
pre[class*='language-'] {
  @apply BreakoutWithPadding;

  @apply py-medium my-normal;

  overflow: auto;

  code {
    border: none;
  }
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0 0.25rem;
  display: inline-block;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    font-style: italic;
    @apply text-[#999998];
  }

  &.namespace {
    opacity: 0.7;
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.string,
  &.attr-value {
    @apply text-[#679d5c] dark:text-[#c1e38a];
  }

  &.punctuation {
    @apply text-[#363636] dark:text-[#b1b1b1];
  }

  &.entity,
  &.url,
  &.symbol,
  &.number,
  &.boolean,
  &.variable,
  &.constant,
  &.property,
  &.regex,
  &.inserted,
  &.class-name {
    @apply text-[#32888d] dark:text-[#70cde3];
  }

  &.atrule,
  &.keyword,
  &.attr-name,
  &.operator,
  .language-autohotkey &.selector {
    @apply text-[#a4599d] dark:text-[#beaaf9];
  }

  &.function,
  &.deleted,
  .language-autohotkey &.tag {
    @apply text-[#bb5131] dark:text-[#fcd58b];
  }

  &.tag,
  &.selector,
  .language-autohotkey &.keyword {
    @apply text-[#828eff];
  }
}

a code {
  @apply underline;
}

a {
  &:hover,
  &:focus {
    code {
      @apply text-primary-text dark:text-primary-text-dark;
    }
  }
}
