@import 'foundation';
@import '../TextStyle/TextStyle.mixins.scss';

@mixin Blockquote($theme) {
  @include text-style-Blockquote;
  line-height: 1.3;

  $size: space(big) !default;
  padding: $size $size $size space(large);

  @include on-small-screens {
    $size: space(normal);
    padding: $size $size $size space(big);
  }

  position: relative;

  color: color($theme, text-bold);
  background-color: color($theme, caption-bg);

  > * {
    padding: 0;
    margin: 0;
  }

  &::before {
    // TODO replace with Big shoulders quotes svg
    content: '\201C';
    font-family: 'Big Shoulders Display';
    color: color($theme, primary);
    font-style: normal;
    margin-right: space(little);
    position: absolute;
    top: calc($size + 3px);
    left: $size;
  }
}
