@import 'foundation';

.PostFooter {
  width: 100%;
}

.Pair {
  display: flex;
  width: 100%;
}

.Link {
  max-width: 100%;
  margin-right: space(normal);
  box-sizing: border-box;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Date {
  margin-left: auto;
  flex-shrink: 0;
}

@mixin Date($theme) {
  .Date-#{$theme} {
    color: color($theme, text-muted);
  }
}

@include Date(Light);
@include Date(Dark);
