@import 'foundation';

.Spacer {
  .Item {
    &,
    & > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

@mixin Spacer($size) {
  .Spacer {
    .Item-#{$size} + .Item-#{$size} {
      margin-top: space($size);
    }

    .Item + .Space-#{$size}:last-child,
    * + .Space-#{$size}:last-child {
      margin-bottom: space($size);
    }

    .Space-#{$size} + *,
    .Space-#{$size} + .Item {
      margin-top: space($size);
      margin-bottom: 0;
    }
  }
}

$sizes: tiny, little, small, normal, medium, big, large, huge;
@each $size in $sizes {
  @include Spacer($size);
}
