@import 'foundation';

.ErrorPage {
  .Header {
    font-size: 10rem;
    line-height: 10rem;
    margin: 0;
  }
}

@mixin ErrorPage($theme) {
  .ErrorPage-#{$theme} {
    .Header {
      color: color($theme, text-bold);
    }

    p {
      color: color($theme, text);
    }
  }
}

@include ErrorPage(Light);
@include ErrorPage(Dark);
