@import 'foundation';

.ErrorPage {
  .Header {
    font-size: 10rem;
    line-height: 10rem;
    margin: 0;
  }
}

.ErrorPage-Light {
  .Header {
    color: color(light, text-bold);
  }

  p {
    color: color(light, text);
  }
}

.ErrorPage-Dark {
  .Header {
    color: color(dark, text-bold);
  }

  p {
    color: color(dark, text);
  }
}
