@import 'foundation';

.ErrorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .Header {
    font-size: 6rem;
    line-height: 10rem;
    margin: 0;
  }
}

@mixin ErrorPage($theme) {
  .ErrorPage-#{$theme} {
    p {
      color: color($theme, text);
    }
  }
}

@include ErrorPage(Light);
@include ErrorPage(Dark);
