@import '../styles/_variables.scss';

.AboutPage {
  a {
    color: $brand-primary;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.1s linear;

    &:hover {
      border-color: $brand-primary;
    }
  }
}

.FeatureImage {
  max-width: 100%;
  border: 1px solid #2a2a2a;
}
