@import 'foundation';

.Post {
  color: $text-color-secondary;
  .Title {
    line-height: 1;

    a {
      color: $text-color-primary;
      transition: color 0.1s linear;

      .Icon svg {
        position: relative;
        transition: all 0.1s ease-in-out;

        top: 7px;
        left: 12px;
        height: 30px;
        width: 30px;
        background: $text-color-primary;
        padding: 0.25em;
        padding: 7px;

        path {
          fill: white;
        }
      }

      &:hover {
        border: none;
        color: $brand-primary;

        .Icon svg {
          transform: rotate(45deg);
        }
      }

    }
  }

  .Meta {
    color: lighten($text-color-secondary, 20%);
  }
}
