@import 'foundation';

@mixin Brand($theme) {
  .Brand-#{$theme} {
    display: inline-block;
    padding: space(tiny);
    line-height: 1;

    text-decoration: none;

    color: white;
    background: color($theme, primary);
  }
}

@include Brand(Light);
@include Brand(Dark);
