@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.PostTile {
  display: block;

  .Header {
    font-size: 2rem;
    line-height: 1.2;
  }

  p {
    color: $text-color-secondary;
  }

  .Meta {
    color: $text-color-secondary;
  }


  &:hover .Header {
    color: $brand-primary;
  }
}


