@import 'foundation';

.PostTile {
  display: block;

  p {
    color: $text-color-secondary;
  }

  .Meta {
    color: $text-color-secondary;
  }


  &:hover .Header {
    color: $brand-primary;
  }
}


