@import 'foundation';

@mixin Button($theme) {
  .Button {
    display: inline-block;
    padding: space(small) space(normal);
    line-height: 1;

    transition: all 0.2s linear;

    color: white;
    background: color($theme, primary);

    &:hover,
    &:focus {
      background: color($theme, primary-focus);
    }
  }

  .FormButton {
    padding-top: 0;
    padding-bottom: 0;

    height: $input-height;
    line-height: $input-height;
  }

  a.Button {
    text-decoration: none;
  }

  button.Button {
    background-image: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}
