@import 'foundation';
@import '../Icon/Icon.mixins.scss';

.FeaturedPostItem {
  position: relative;
}

.Icon {
  position: absolute;
  bottom: space(big);
  right: space(big);
}

@mixin FeaturedPostItem($theme) {
  .FeaturedPostItem-#{$theme} {
    background-color: color($theme, caption-bg);
    padding: space(big);

    .Icon {
      @include IconColor($theme, primary);
    }
  }
}

@include FeaturedPostItem(Light);
@include FeaturedPostItem(Dark);
