@import 'foundation';
@import '../UI-Kit/Header/Header.module.scss';

.PostHeader {
  .Attribution {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.5rem;
  }
}

@mixin PostHeader($theme) {
  .PostHeader-#{$theme} .Attribution {
    color: color($theme, text-muted);
  }
}

@include PostHeader(Light);
@include PostHeader(Dark);
