@import 'foundation';

.PostHeader {
  .Attribution {
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.5rem;
    
    color: $text-color-secondary;
  }

  .Meta {
    color: lighten($text-color-secondary, 20%);
  }
}
