@import 'foundation';

@mixin Breakout() {
  margin-left: -$breakout-amount;
  margin-right: -$breakout-amount;

  @include on-small-screens {
    margin-left: -$base-font-size;
    margin-right: -$base-font-size;
  }
}
