@import 'foundation';

@mixin font-size($size, $multiplier: 0.8) {
  font-size: $size;

  @include on-small-screens {
    font-size: $size * $multiplier;
  }
}

@mixin text-style-Display {
  @include font-size(3.066666667rem);
  letter-spacing: -1.5px;
  text-transform: uppercase;
  @include font-style-black-italic;
}

@mixin text-style-Title {
  @include font-size(2.4rem);
  letter-spacing: -1px;
  text-transform: uppercase;
  @include font-style-black-italic;
}

@mixin text-style-Blockquote {
  @include font-size(2rem);
  letter-spacing: -1px;
  @include font-style-black-italic;
}

@mixin text-style-Heading {
  @include font-size(1.866666667rem);
  letter-spacing: -1px;
  @include font-style-black-italic;
}

@mixin text-style-Subheading {
  @include font-size(1.6rem);
  letter-spacing: -0.5px;
  @include font-style-black-italic;
}

@mixin text-style-Body {
  font-size: 1rem;
}

@mixin text-style-Label {
  font-size: 1rem;
  font-weight: 900;
}

@mixin text-style-Meta {
  font-size: 0.866666667rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@mixin text-style-Caption {
  font-size: 0.866666667rem;
}

@mixin text-style-Button {
  font-size: 1rem;
  text-transform: uppercase;
  @include font-style-black-italic;
}
