@import 'foundation';

.Button {
  display: inline-block;
  padding: 1rem 1.5rem;

  text-transform: uppercase;
  letter-spacing: 1px;

  &,
  > a {
    color: white;
  }

  transition: all 0.2s linear;
}

@mixin Button($theme) {
  .Button-#{$theme} {
    background: color($theme, primary);

    &:hover {
      background: color($theme, primary-focus);
    }
  }
}

@include Button(Light);
@include Button(Dark);
