@import 'foundation';

@mixin Input($theme) {
  appearance: none;

  border: 1px solid color($theme, text-muted);
  border-radius: 0;
  color: color($theme, text);
  background: color($theme, body-bg);

  &::placeholder {
    color: color($theme, text-muted);
  }

  &:focus {
    border-color: color($theme, text-bold);
  }

  padding: 0 space(normal);
  line-height: $input-height;
  height: $input-height;

  box-sizing: border-box;

  &.FullWidth {
    width: 100%;
  }

  &.Invalid {
    color: color($theme, primary-text);
  }
}

@mixin Label($theme) {
  color: color($theme, text);
}

@mixin Input-Theme($theme) {
  .Input-#{$theme} {
    @include Input($theme);
  }
}

@mixin Label-Theme($theme) {
  .Label-#{$theme} {
    @include Label($theme);
  }
}
