@import 'foundation';

.Link {
  color: $brand-primary;
  text-decoration: none;

  transition: all 0.1s linear;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: $brand-primary;
  }
}

.Reset {
  text-decoration: none;
}

.IconLink {
  &, &:hover {
    border: none;
    text-decoration: none;
  }

  transition: all 0.2s linear;

  & svg path {
    fill: $brand-primary;
  }

  &:hover svg path {
    fill: darken($brand-primary, 15%);
  }
}
