@import 'foundation';

.Link {
  text-decoration: none;

  transition: all 0.1s linear;
  border-bottom: 1px solid transparent;
}

@mixin Link($theme) {
  .Link-#{$theme} {
    color: color($theme, primary-text);

    &:hover {
      border-color: color($theme, primary-text);
    }
  }
}

@include Link(Light);
@include Link(Dark);

.Reset {
  text-decoration: none;
}

.IconLink {
  &,
  &:hover {
    border: none;
    text-decoration: none;
  }

  transition: all 0.2s linear;
}

@mixin IconLink($theme) {
  .IconLink-#{$theme} {
    & svg path {
      fill: color($theme, primary-text);
    }

    &:hover svg path {
      fill: color($theme, primary-text-focus);
    }
  }
}

@include IconLink(Light);
@include IconLink(Dark);
