@import 'foundation';

.Link {
  text-decoration: none;

  transition: all 0.1s linear;
  border-bottom: 1px solid transparent;
}

.Link-Light {
  color: color(light, primary-text);

  &:hover {
    border-color: color(light, primary-text);
  }
}

.Link-Dark {
  color: color(dark, primary-text);

  &:hover {
    border-color: color(dark, primary-text);
  }
}

.Reset {
  text-decoration: none;
}

.IconLink {
  &,
  &:hover {
    border: none;
    text-decoration: none;
  }

  transition: all 0.2s linear;
}

.IconLink-Light {
  & svg path {
    fill: color(light, primary-text);
  }

  &:hover svg path {
    fill: color(light, primary-text-focus);
  }
}

.IconLink-Dark {
  & svg path {
    fill: color(dark, primary-text);
  }

  &:hover svg path {
    fill: color(dark, primary-text-focus);
  }
}
