@import '../../styles/_mixins.scss';
@import '../../styles/variables.scss';

.Header {
  font-weight: bold;
  font-style: normal;
  color: $text-color-primary;
}

.Headline {
  font-size: 5.125rem;
  letter-spacing: -5px;

  @include mobile-only {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.Title {
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 3rem;

  @include mobile-only {
    font-size: 2rem;
    line-height: 2rem;
  }  
}

.Subtitle {
  font-size: 1.625rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.625rem;
  font-weight: normal;

  color: $text-color-secondary;

  @include mobile-only {
    font-size: 1.25rem;
    line-height: 1.4rem;
  }
}
