@import 'foundation';
@import 'ui-kit-mixins';

@include ButtonStyle(FormButton, Light);
@include ButtonStyle(FormButton, Dark);

.FormButton {
  padding: 0 space(small);

  height: $input-height;
  line-height: $input-height;

  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }

  svg {
    width: $base-font-size * 2.6666667;
    margin-top: $base-font-size / 2;
  }
}
