@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.HomeTile {

  width: 100%;

  position: relative;
  padding-left: 2rem;
  box-sizing: border-box;

  &:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    background: $brand-primary;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  &:hover:before {
    background: darken($brand-primary, 10%);
  }

  p {
    font-size: 1.25rem;
    color: $text-color-secondary;
  }
}

.TileImg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  flex: 1 0 auto;
  position: relative;
  
  min-height: 100%;
  width: 20%;
  min-width: 10rem;

  @include mobile-only {
    display: none;
  }
}

.TileTitle {
  font-size: 2.25rem;
}

.Link {
  margin-top: auto;
  align-self: flex-start;
  font-size: 1.15rem;
}

// .Wrapper {
//   background: red;
//   flex: 1 0 auto;
//   position: relative;
//   width: 20%;
//   height: 0;
//   padding-bottom: 20%;  
// }
// .Wrapper:after {
//   content: "";
//   float:left;
//   display: block;
//   padding-top: 100%;
// }
