@import './Meta.mixins.scss';

.Icon {
  margin-left: space(tiny);
  position: relative;
  top: 4px;
}

@mixin Meta-Theme($theme) {
  .Meta-#{$theme} {
    @include Meta($theme);
  }
}

@include Meta-Theme(Light);
@include Meta-Theme(Dark);
